/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
/.project

# Exclude compiled CSS, fonts
/public/res/css/*
/public/res/bootstrap/*
/public/res/fonts/*

# Exclude local JS
/public/res/lib/*