/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
/.project

# Exclude compiled CSS
/public/res/css/*

# Exclude bower dependencies
/public/res/jquery/*
/public/res/bootstrap/*