@import "../bootstrap/less/variables.less";
@import "custom-variables.less";

.navbar {
    border-left: none;
    border-right: none;
}

.navbar li a:active {
    text-decoration: underline;
}

.page-header {
    background-color: @brand-primary;
    margin: 0px;
    padding-top: 10px;
    border-bottom: none;
}

form textarea {
    resize: vertical;
}

.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger {
    padding: 10px;
}

.btn-centered {
    position: relative;
    top: 7px;
}

.thin-sides-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.thin-sides-padding {
    padding-left: 0px;
    padding-right: 0px;
}